.header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  display: flex;
  flex: 1;
  align-items: center;  
}

.hamberger-menu {
  height: 22px;
  margin-left: 24px;
  margin-right:24px;
}

.youtube-logo {
  height: 22px;
}

.middle-section {
  display: flex;
  flex: 2;
  align-items: center;
}

.search-bar {
  height: 36px;
  width: 78%;
  margin-left: 38px;
  align-items: center;
  padding-left: 0.85em;
  border-radius: 50px;
  border: 1px solid #ccc;
}

.search-bar::placeholder {
  color: #888;
  font-size: 1rem;
}

.search-button {
  height: 40px;
  width: 65px;
  margin-left: -50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid #ccc;
}

.search {
  height: 25px;
}

.voice-search-icon-button {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-left: 16px;
  border: 1px solid #ccc;
}

.voice-search-icon {
  height: 25px;
}

.right-section {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row-reverse;
}

.upload {
  height: 36px;
}

.youtube-apps {
  height: 36px;
  margin-left: 20px;
}

.notifications {
  height: 36px;
  margin-left: 20px;
}