.header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 16px;
}

.left-section {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 12px;
  margin-left: 16px;  
}

.hamberger-menu,
.youtube-logo {
  height: 22px;
  margin-top: 2px;
}

.youtube-logo-button,
.hamberger-menu-button {
  background-color: white;
  border: 1px solid white;
}

.hamberger-menu-button:hover {
  filter: brightness(90%);
}

.hamberger-menu-button:active {
  filter: brightness(70%);
}

.middle-section {
  display: flex;
  flex: 2;
  align-items: center;
}

.middle-section button:hover {
  filter: brightness(90%);
}

.middle-section button:active {
  filter: brightness(70%);
}

.search-bar {
  height: 36px;
  width: 500px;
  margin-left: 38px;
  align-items: center;
  padding-left: 0.85em;
  border-radius: 50px 0 0 50px;
  border: 1px solid rgb(230, 230, 230);
}

.search-bar::placeholder {
  color: #888;
  font-size: 1rem;
}

.search-button {
  height: 40px;
  width: 65px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid rgb(230, 230, 230);
}

.search {
  height: 25px;
}

.voice-search-icon-button {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-left: 16px;
  border: 1px solid white;
}

.voice-search-icon {
  height: 25px;
}

.right-section {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row-reverse;
}

.right-section button {
  height: 40px;
  width: 40px;
  margin-right: 30px;
  background-color: white;
  border: 1px solid white;
}

.right-section button:hover {
  filter: brightness(90%);
}

.right-section button:active {
  filter: brightness(70%);
}